<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">{{title}}</a>
    <div class="collapse navbar-collapse navbar-nav" id="navbarNavAltMarkup">
      <a class="nav-link" aria-current="page" [routerLink]="['/home']">Home</a>
      <div class="navbar-nav" *ngIf='(user$ | async) != "" '>
        <a class="nav-link" [routerLink]="['/catalogue']">Catalogue</a>
        <a class="nav-link" [routerLink]="['/user']">User</a>
        <div>
          <span> <mat-icon [routerLink]="['/panier']">shopping_cart</mat-icon> </span>
          <span class="badge bg-secondary">{{ countProducts$|async}}</span>
        </div>
      </div>
    </div>
    <div class="d-flex" *ngIf='(user$ | async) == ""'>
      <button class="btn btn-outline-success" type="submit" [routerLink]="['/client/signin']">Connexion</button>
      <button class="btn btn-outline-success me-2" type="submit" [routerLink]="['/client/signup']">Creation de compte</button>
    </div>
    <div class="d-flex" *ngIf='(user$ | async) != ""'>
      <button class="btn btn-outline-danger" type="submit" (click)="signout()">Déconnexion</button>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>






